*{
    margin: 0;
    padding: 0;
}

.all-items-cart {
    font-family: 'Handlee';
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cart-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.cart-product-name-img {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.cart-product-img {
    max-height: 100px;
    max-width: 100px;
}
.cart-product-name {
    font-size: 20px;
    color: #FCB43A;
}
.buttons-amount {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.cart-amount-show{
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    border: 1px solid black;
}
.cart-plus-button, .cart-minus-button {
    background: none;
    font-weight: 600;
    font-family: 'Handlee';
    border: none;
    color: #FCD615;
    font-size: 40px;
    cursor: pointer;
}
.cart-item-price {
    font-family: none;
    font-size: 18px;
    padding-left: 40px;
}
.cart-item-remove-button {
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    color: black;
    background: #FCD615;
    border: 1px solid black;
    font-family: 'Handlee';
    font-weight: 600;
    cursor: pointer;
    font-size: 15px;
    transition: transform 0.3s ease-in-out;
}
.cart-item-remove-button:hover {
    transform: scale(1.1);
}
.cart-titles {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
}
.cart-title3 {
    margin-right: 200px;
    border-bottom: 1px solid #FCD615;
}
.cart-title2 {
    margin-left: 90px;
    border-bottom: 1px solid #FCD615;
}
.cart-title1 {
    border-bottom: 1px solid #FCD615;
}
.end-of-the-cart {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
}
.cart-total {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.cart-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.cart-continue-shopping {
    padding: 10px;
    background: #FCD615;
    border: 1px solid black;
    font-weight: 600;
    font-family: 'Handlee';
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.cart-check-out:hover, .cart-continue-shopping:hover {
    background: #FCB43A;
    transform: scale(1.02);
}
.cart-total-text {
    font-size: 22px;
    color: #FCB43A;
}
.cart-total-price {
    font-family: none;
    font-size: 20px;
}