.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 2px solid #3A3637;
    margin-top: 100px;
    padding: 10px;
}
.footer-elements-left,.footer-elements-center,.footer-elements-right {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 16px;
}
.fel-text {
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.end {
    color: white;
    cursor: default;
}

@media (max-width: 1400px) {
    .fel-text, .end {
        font-size: 12px;
    }
}
@media (max-width: 1200px) {
    .fel-text, .end {
        font-size: 10px;
    }
}
@media (max-width: 600px) {
    .fel-text, .end {
        font-size: 8px;
    }
}