.shop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    color: whitesmoke;
    margin-top: 150px;
}
.shop-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}
.shop-container-button {
    font-size: 50px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.shop-container-button:hover {
    transform: scale(1.1);
    color: #FCB43A;
}
.shop-titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.shop-subtitle {
    color: #FCD615;
    font-family: 'Caveat';
    font-size: 25px;
    margin: 0;
}
.shop-title {
    color: #FCB43A;
    font-family: 'Handlee';
    font-size: 50px;
    margin: 0;
}

/* Responsive */

@media (max-width: 1400px) {
    .product-img {
        max-height: 180px;
        max-width: 180px;
    }
    .product-name {
        font-size: 21px;
    }
    .product-prise {
        font-size: 18px;
    }
    .add-to-cart, .added-to-cart {
        font-size: 13px;
    }
    .shop-container-button {
        font-size: 45px;
    }
    .shop-subtitle{
        font-size: 23px;
    }
    .shop-title {
        font-size: 48px;
    }
    .shop-container {
        gap: 70px;
    }
}
@media (max-width: 1200px) {
    .product-img {
        max-height: 160px;
        max-width: 160px;
    }
    .product-name {
        font-size: 19px;
    }
    .product-prise {
        font-size: 16px;
    }
    .add-to-cart, .added-to-cart {
        font-size: 11px;
    }
    .shop-container-button {
        font-size: 40px;
    }
    .shop-container {
        flex-direction: column;
    }
    .shop-subtitle{
        font-size: 21px;
    }
    .shop-title {
        font-size: 46px;
    }
    .shop-container {
        gap: 60px;
    }
}
@media (max-width: 600px) {
    .product-img {
        max-height: 140px;
        max-width: 140px;
    }
    .product-name {
        font-size: 17px;
    }
    .product-prise {
        font-size: 14px;
    }
    .add-to-cart, .added-to-cart {
        font-size: 9px;
    }
    .shop-container-button {
        font-size: 35px;
    }
    .shop-subtitle{
        font-size: 19px;
    }
    .shop-title {
        font-size: 44px;
    }
    .shop-container {
        gap: 50px;
    }
}